{#
/**
 * @file
 * Default theme implementation for displaying a single search result.
 *
 * @see template_preprocess()
 * @see template_preprocess_search_result()
 * @see template_process()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div class="node node--table">
    <div{{ content_attributes }}>
      <a class="node__link" href="{{ url }}">
        {{ title_prefix }}
          <h2 class="node__title mvn">{{ title }}</h2>
        {{ title_suffix }}
        {# <p><strong><?php print $result['node']->type; ?></strong> — <small><?php print t('Create at !date', array('!date' => $info_split['date'])); ?></small></p> #}
        {% if info %}
          <p class="node__excerpt mtn mbs">{{ info }}</p>
        {% endif %}
        {% if snippet %}
          <p class="highlighter mts">{{ snippet }}</p>
        {% endif %}
      </a>
    </div>
  </div>
</div>
