{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  <p class="mvn">
    <span>{{ 'You are here&nbsp;:'|t }}</span>
    {% for item in breadcrumb %}
      <span {{ item.attributes }}>
        {% if item.url %}
          <a href="{{ item.url }}"><span>{{ item.text }}</span></a>
        {% else %}
          <strong>{{ item.text }}</strong>
        {% endif %}
      </span>
    {% endfor %}
  </p>
{% endif %}
